@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* *:focus{
  outline: none;
} */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #e4e9f1;
  overflow-x: hidden;
}

.text-small {
  font-size: 0.9rem;
}

.btn {
  border: 1px solid;
  border-radius: 8px;
  padding: 2px 8px;
}

.btn.btn-primary {
  background-color: #0A18CB;
  color: #fff;
  /* border-color: #0A18CB; */
  border: none;
}
.border-bottom{
  border-bottom: 1px solid #9fa5ae;
}

.source-code {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
}